<!-- <form class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">Book Hotel</h1>
    <label for="hotelid" class="sr-only">Hotel Id</label>
    <input type="text" id="inputHotelId" [(ngModel)]="{{hotelId}}" name="hotelid" class="form-control" placeholder="{{hotelId}}" required autofocus>
    <label for="userid" class="sr-only" >User Id</label>
    <input type="text" id="inputUserId" [(ngModel)]="{{userId}}" name="userid" class="form-control" placeholder="{{userId}}" required>
    
    
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="bookHotel()">Sign in</button>
  </form> -->
